body {
    font-family: Arial, Helvetica, sans-serif;
}

.shelf {
    display: grid;
    grid: 300px / repeat(auto-fit, 250px);
    gap: 20px;
    grid-auto-rows: 300px;
}

.card {
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid: 20px 50px 50px 1fr / 1fr 30px;
    grid-template-areas: 
            ". remove"
            "title ."
            "author ."
            "pages .";
}

.card button {
    grid-area: remove;
    background: none;
    border: none;
    font-size: 20px;
}

.card h1 {
    grid-area: title;
}

.card h2 {
    grid-area: author;
}

.card h3 {
    grid-area: pages;
}

dialog {
    position: absolute;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
}